<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace该是ProductMapper的完整限定名-->
<mapper namespace="com.mybatis.mapper.ProductTypeMapper">

    <resultMap id="productTypeResultMap" type="ProductType">
        <id property="id" column="ID"/>
        <result property="typeCode" column="TYPE_CODE"/>
        <result property="typeName" column="TYPE_NAME"/>
    </resultMap>

    <select id="getProductTypeAll" resultMap="productTypeResultMap">
        SELECT *
            FROM T_TYPE  ORDER BY ID
    </select>

</mapper>

