<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace该是ProductMapper的完整限定名-->
<mapper namespace="com.mybatis.mapper.ProductMapper">

    <resultMap id="productResultMap" type="Product">
        <id property="id" column="P_ID"/>
        <result property="name" column="P_NAME"/>
        <result property="type" column="P_TYPE"/>
        <result property="description" column="P_DESCRIPTION"/>
        <result property="cs" column="P_CS"/>
        <result property="picture" column="P_PICTURE"/>
        <result property="cdate" column="C_DATE"/>
    </resultMap>

    <select id="getProductById" parameterType="String" resultMap="productResultMap">
        SELECT * FROM T_PRODUCT  WHERE P_ID=#{id}
   </select>
    <!--
    <select id="getProductAll"  resultType="Product" >
        SELECT p_id as id,
            p_name as name,
            p_type as type,
            p_description as description,
            c_date as cdate
            FROM T_PRODUCT
   </select>
   -->
    <select id="countProductAll" resultType="int">
        SELECT COUNT(1) FROM  T_PRODUCT
    </select>

    <select id="getProductAll" resultMap="productResultMap">
        SELECT *  FROM T_PRODUCT
   </select>

    <select id="countByType" parameterType="String" resultType="int">
        SELECT COUNT(1)  FROM T_PRODUCT WHERE p_type = #{type}
   </select>

    <select id="getProductsByType" parameterType="String" resultMap="productResultMap">
        SELECT *  FROM T_PRODUCT WHERE p_type = #{type}
   </select>


    <insert id="addProduct" parameterType="Product">
        INSERT INTO T_PRODUCT  (p_name, p_type, p_description, p_cs, p_picture, c_date)
            VALUES (#{name}, #{type}, #{description}, #{cs}, #{picture}, #{cdate});
   </insert>

    <insert id="deleteProduct" parameterType="String">
        DELETE FROM T_PRODUCT WHERE p_id=#{id}
    </insert>


    <select id="countByVo" parameterType="Product" resultType="int">
        SELECT COUNT(2) FROM T_PRODUCT
        <where>
            <if test="name != null ">
                p_name like concat('', #{name}, '%')
            </if>
        </where>
    </select>

    <select id="queryByVo" parameterType="Product" resultMap="productResultMap">
        SELECT * FROM T_PRODUCT
        <where>
            <if test="name != null">
                p_name like concat('', #{name}, '%')
            </if>
        </where>
    </select>
</mapper>

